.DS_Store
.idea
.vscode
.ipynb_checkpoints
__pycache__

.venv
.pytest_cache
.claude
.flwr
CLAUDE.md

build/
dist/
wheels/
wandb/
offload


# Hydra outputs
outputs/
multirun/
.hydra/
*.log
*.pid
*.pids
*_wandb_logs/
dump.rdb
